ul {
    width: 7%;
    margin: auto;
    text-align: center;
    display: flex;
    padding-left: 0px;
}
li {
    list-style: none;
    border: 1px solid grey;
    padding: 3px 6px;
    margin: 10px;
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767px) {
    ul {
        position: relative;
        right: 20px;
    }
    li {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    ul {
        position: relative;
        right: 20px;
    }
    li {
        font-size: 14px;
    }
}