h1 {
    text-align: center;
    background-color: black;
    padding: 10px;
    font-size: 45px;
    font-family: 'Dancing Script', 'cursive';
    font-weight: 200;
    color: #FFC93C;
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 30px;
    }
}